@import "tailwindcss";

/* Custom global styles can go here */
body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--background, #ffffff);
    color: var(--foreground, #171717);
}

@layer utilities {
  .dark body {
    --background: #0a0a0a;
    --foreground: #ededed;
    background-color: var(--background);
    color: var(--foreground);
  }
}
